@charset "utf-8";


@media (min-width: 1351px) {

#logo2{
	width: 48vw;
	height: auto;
	margin: 10px;
	border-radius:12px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h3{
	font-family: 'policetitres';
	text-decoration:underline solid white;
	color:#9bffc2;

}

main div>p{
	font-family: 'Berlin';
	color:white;
	font-size: 1.1rem;
	text-decoration: underline;
}



main small a{
	font-family:'Berlin';
	color: #12eb94; 
	text-decoration:  underline; 
	text-decoration-thickness: 2px;
}


}


/*---------------------------------------------------------------------*/
@media (min-width: 801px) 
  and (max-width: 1350px) {

#logo2{
	width: 64vw;
	height: auto;
	margin: 10px;
	border-radius:12px;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h3{
	font-family: 'policetitres';
	text-decoration:underline solid white;
	color:#9bffc2;

}


main div>p{
	font-family: 'Berlin';
	color:white;
	font-size: 1.1rem;
	text-decoration: underline;
}


main small a{
	font-family:'Berlin';
	color: #12eb94; 
	text-decoration:  underline; 
	text-decoration-thickness: 2px;
}


}


/*---------------------------------------------------------------------*/

@media (max-width: 800px) {
	
#logo2{
	width: 64vw;
	height: auto;
	margin: 10px;
	border-radius:12px;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h3{
	font-family: 'policetitres';
	text-decoration:underline solid white;
	color:#9bffc2;

}


main div>p{
	font-family: 'Berlin';
	color:white;
	font-size: 1.1rem;
	text-decoration: underline;
}
main small a{
	font-family:'Berlin';
	color: #12eb94; 
	text-decoration:  underline; 
	text-decoration-thickness: 2px;
}
iframe{
	width:70vw;
}

}
